.mainWrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  padding-top: 6.8vh;
  background-color: var(--background);

  @media (width <= 1023px) {
    grid-template-columns: 1fr;
  }
}

.navTempWrap {
  display: flex;
  flex-direction: column;
  grid-column: span 2 / span 2;
  align-items: center;
  justify-content: center;
  padding-left: 12vw;

  @media (width <= 1535px) {
    padding-left: 6vw;
  }

  @media (width <= 1279px) {
    padding-left: 0;
  }

  @media (width <= 1023px) {
    grid-column: span 1 / span 1;
    padding-left: 0;

    &.messageId {
      display: none;
    }
  }
}

.navTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 6px 0;

  @media (width <= 1023px) {
    flex-direction: column;
  }
}

.mailButt {
  padding: 6px;
  margin: 2px;

  @media (width <= 1023px) {
    width: 100%;
    margin-bottom: 4px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: white;

  .copy {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
    }
  }
}

.cursor {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.fetch {
    animation: spin 1s linear infinite;
  }
}

.messageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 87vh;
  padding: 0;
  margin: 0;
  overflow: hidden scroll;
}

.messageWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  cursor: pointer;

  &:hover {
    background: #000000;
    background-color: var(--secondary);
  }

  .select {
    background: #583333;
  }
}

.message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-bottom: 1px #38bdf8 dashed;
}

.readIcon {
  width: 24px;
  height: 24px;
  padding-right: 2px;
  color: orange;
}

.messageInfoWrap {
  width: 100%;

  .sub {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .info {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: white;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.messageInfo {
  display: flex;
  justify-content: space-between;

  .name {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  .time {
    padding-right: 4px;
    font-size: 14px;
    line-height: 20px;
    color: white;
  }
}

.tempMailWrap {
  grid-column: span 3 / span 3;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  @media (width <= 1023px) {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    &.active {
      position: static;
      grid-column: span 1 / span 1;
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}

.tempMail {
  position: relative;

  @media (width <=1023px) {
    padding: 16px 0;
  }
}

.backButt {
  display: none;

  @media (width <=1023px) {
    display: flex;
    flex-direction: column;
    grid-column: span 4 / span 4;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    transition: transform 0.1s ease;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
    }
  }

  button {
    width: 40vw;
    padding: 12px;
    border: 1px white solid;
    border-radius: 5px;
  }
}

.tempBody {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: auto;

  iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}
