.section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cardWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 260px;
  border: 1px white solid;
}

.cardTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding: 4px;
    font-size: 20px;
  }

  h2 {
    padding: 2px;
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }
}

.cardContentWrap {
  // display: flex;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.googleButt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 10px;
  margin: 10px;
  color: black;
  background: white;
  border-radius: 5px;

  &.limit {
    pointer-events: none;
  }
}

.tempButt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  background: white;

  // border: 1px white solid;
  border-radius: 5px;

  svg {
    height: 40px;
  }

  &.limit {
    pointer-events: none;
  }
}
